# Jotform API root
VITE_JOTFORM_BASE_URL=YOUR_BASE_URL

# Form IDs
VITE_CHECKINS=YOUR_CHECKINS_ID
VITE_MESSAGES=YOUR_MESSAGES_ID
VITE_SIGHTINGS=YOUR_SIGHTINGS_ID
VITE_PERSONAL_NOTES=YOUR_PERSONAL_NOTES_ID
VITE_ANONYMOUS_TIPS=YOUR_ANONYMOUS_TIPS_ID

# API Keys
VITE_KEY_1=API_KEY_1
VITE_KEY_2=API_KEY_2
VITE_KEY_3=API_KEY_3